@font-face {
    font-family: 'Neucha';
    src: url('../fonts/Neucha-Regular.ttf');
}
@font-face {
    font-family: 'AmaticSC-Bold';
    src: url('../fonts/AmaticSC-Bold.ttf');
}

*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.background_all{
    height: 100%;
    width: 800px;
    position: absolute;
    top: 0;
    left: calc(50% - 400px);
    background-image: url('../img/background_all.png');
    z-index: 1;
}

/* Start menu */

.start_menu{
    height: 100%;
    width: 800px;
    position: absolute;
    top: 0;
    left: calc(50% - 400px);
    z-index: 10;
}

.title_game{
    position: absolute;
    top: 70px;
    left: 70px;

}

.button_start{
    position: absolute;
    top: 150px;
    left: 100px;
}

.button_start span{
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 46px);
    font-family: 'AmaticSC-Bold';
    font-size: 50px;
    color: rgba(16, 16, 172, 0.789); 
}

#button_start_mainmenu_id, #button_records_mainmenu_id, #button_settings_mainmenu_id{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.button_records{
    position: absolute;
    top: 320px;
    left: 170px;
}

.button_records span{
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 46px);
    font-family: 'AmaticSC-Bold';
    font-size: 40px;
    color: rgba(16, 16, 172, 0.789); 
}

.button_setting{
    position: absolute;
    top: 720px;
    left: 500px;
}

.button_setting span{
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 46px);
    font-family: 'AmaticSC-Bold';
    font-size: 40px;
    color: rgba(16, 16, 172, 0.789); 
}

.canvas_start_menu{
    position: absolute;
    top: 330px;
    left: 510px;
}

.start_menu.leaveView{
    opacity: 0;
    top: -100%;
    transition: opacity 1s, top 2s;

}

/* app and info */

.doodlejump_main{
    height: 100%;
    width: 800px;
    position: absolute;
    top: 800px;
    left: calc(50% - 400px);
    display: flex;
    flex-direction: row;
    z-index: 20;
    opacity: 0;
}

.info_and_manage{
    height: 100%;
    width: 100%;
    margin: 15px;
    font-family: 'AmaticSC-Bold';
    font-size: 46px;
    color: rgba(16, 16, 172, 0.789);
}

.doodlejump_main.viewGame{
    opacity: 100;
    top: 0;
    transition: opacity 1s, top 2s;
}

/* canvas and game's field */

.wrap_canvas_{
    width: 520px;
    height: 820px;
    margin: 15px 0 0 0;
}

.background_doodle{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../img/border.png');
}

.ready_div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ready_div span{
    font-family: 'AmaticSC-Bold';
    font-size: 80px;
    color: rgb(232, 184, 28);
}

.ready_div.hidden{
    opacity: 0;
    transition: opacity 2s;
}

.restart_div{
    background-color: aqua;
    position: absolute;
    top: 800px;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.restart_div.nohidden{
    opacity: 100;
    top: 0;
    transition: opacity 1s, top 2s;
}

canvas{
    margin: 12px 12px 0 12px;
}




