@font-face {
    font-family: 'Neucha';
    src: url('../fonts/Neucha-Regular.ttf');
}
@font-face {
    font-family: 'AmaticSC-Bold';
    src: url('../fonts/AmaticSC-Bold.ttf');
}

*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.background_all{
    height: 100%;
    width: 800px;
    position: absolute;
    top: 0;
    left: calc(50% - 400px);
    background-image: url('../img/background_all.png');
    z-index: 1;
}

/* Start menu */

.start_menu{
    height: 100%;
    width: 800px;
    position: absolute;
    top: 0;
    left: calc(50% - 400px);
    z-index: 10;
}

.title_game{
    position: absolute;
    top: 70px;
    left: 70px;

}

.button_start{
    position: absolute;
    top: 150px;
    left: 100px;
}

.button_start span{
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 46px);
    font-family: 'AmaticSC-Bold';
    font-size: 50px;
    color: rgba(16, 16, 172, 0.789); 
}

#button_start_mainmenu_id, #button_records_mainmenu_id, #button_settings_mainmenu_id, #pause_button_id{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.button_records{
    position: absolute;
    top: 320px;
    left: 170px;
}

.button_records span{
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 46px);
    font-family: 'AmaticSC-Bold';
    font-size: 40px;
    color: rgba(16, 16, 172, 0.789); 
}

.button_setting{
    position: absolute;
    top: 720px;
    left: 500px;
}

.button_setting span{
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 46px);
    font-family: 'AmaticSC-Bold';
    font-size: 40px;
    color: rgba(16, 16, 172, 0.789); 
}

.canvas_start_menu{
    position: absolute;
    top: 330px;
    left: 510px;
}

.start_menu.leaveView{
    opacity: 0;
    top: -100%;
    transition: opacity 1s, top 2s;

}

.background_shadow{
    height: 100%;
    width: 800px;
    position: absolute;
    top: 0;
    left: calc(50% - 400px);
    background-color: rgba(0, 0, 0, 0.385);
    z-index: 100;
}

.background_shadow.unvisible{
    opacity: 0;
    z-index: 0;
}

.records{
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 200px);
    height: 600px;
    width: 400px;
    background-image: url('../img/backRecords.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
} 

.manage_record_list{
    position: relative;
    height: 10%;
    width: 100%;
}

.manage_record_list *{
    position: absolute;
    top: 25px;
    right: 30px;
    height: 30px;
    width: 70px;
    background: transparent;
    border: none;
}

/* items score list */

.table_records{
    height: 450px;
    width: 280px;
    margin: 20px 20px 0 70px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.table_records::-webkit-scrollbar{
    width: 0;
}

.list_for_score{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.one_item_li{
    height: 20%;
    width: 100%;
    margin-left: 30px;
}

.one_item_from_list{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.one_item_nick{
    height: 100%;
    width: 60%;
}

.one_item_score{
    height: 100%;
    width: 40%;
}

.one_item_number{
    margin-right: 5px;
}

.one_item_from_list *{
    font-family: 'AmaticSC-Bold';
    font-size: 36px;
    color: rgba(16, 16, 172, 0.789);
}

/* app and info */

.doodlejump_main{
    height: 100%;
    width: 800px;
    position: absolute;
    top: 800px;
    left: calc(50% - 400px);
    display: flex;
    flex-direction: row;
    z-index: 20;
    opacity: 0;
}

.info_and_manage{
    height: 100%;
    width: 100%;
    margin: 15px;
    font-family: 'AmaticSC-Bold';
    font-size: 46px;
    color: rgba(16, 16, 172, 0.789);
    position: relative;
}

.score_div{
    margin-top: 10px;
    height: 70px;
    width: 100%;
}

.pause_button{
    height: 100px;
    width: 100%;
    position: relative;
}

.icons_pause_play{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-right: -40%;
    transform: translate(-100%, -50%);
    background-position: center;
    background-repeat: no-repeat;
    background: url('../img/pause_icon.png');
}

.icons_pause_play.pause{
    background: url('../img/play_icon.png');
}

.doodlejump_main.viewGame{
    opacity: 100;
    top: 0;
    transition: opacity 1s, top 2s;
}

/* canvas and game's field */

.wrap_canvas_{
    width: 520px;
    height: 820px;
    margin: 15px 0 0 0;
}

.background_doodle{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../img/border.png');
}

.ready_div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ready_div span{
    font-family: 'AmaticSC-Bold';
    font-size: 80px;
    color: rgb(232, 184, 28);
}

.ready_div.hidden{
    opacity: 0;
    transition: opacity 2s;
}

.restart_div{
    position: absolute;
    top: 800px;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.restart_div.nohidden{
    opacity: 100;
    top: 0;
    transition: opacity 1s, top 2s;
}

canvas{
    margin: 12px 12px 0 12px;
}

/* end game view */
.manage_restart{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nickname_save{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nickname_input_id{
    height: 70%;
    width: 50%;
    border: none;
    background-color: bisque;
    font-family: 'AmaticSC-Bold';
    font-size: 40px;
    text-align: center;
    color: rgba(16, 16, 172, 0.789);
}

#save_nickname_id{
    height: 70%;
    width: 10%;
    background: url('../img/save_icon.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.restart_button{
    height: 20%;
    width: 100%;
    position: relative;
}

.menu_button{
    height: 20%;
    width: 100%;
    position: relative;
}

.restart_button *{
    height: 100px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.restart_button input, .menu_button input{
    border: none;
    background-color: transparent;
}

.restart_button span, .menu_button span{
    text-align: center;
    margin: 54px auto;
    font-family: 'AmaticSC-Bold';
    font-size: 40px;
    color: rgb(28, 26, 23);
}

.menu_button *{
    height: 100px;
    width: 200px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


